<div align="center">
    <h1>About</h1>
    <tb>Yarden Page 204154181<br>
        Dana Feldman 308365493 </tb> <br>
    </br>
    Students 3th year in Information Systems Engineering in Ben-Gurion University Of the Negev.
    </br>
    We Live in Beer Sheva.
    </br><br>
    Our Websites:
    </br>
    <a href="http://wwwyardenpagecom.000webhostapp.com/" target="_blank" class="navbar-link">Yarden Page's website</a>
    </br> </br>
    <a href="http://danafe.000webhostapp.com/" target="_blank" class="navbar-link">Dana Feldman's website</a>
    </br>  </br>
    <a href="http://pacmangame.000webhostapp.com/" target="_blank" class="navbar-link">Pacman Game</a>

    </br>
    </br>

    <h2>Things that were difficult for us:</h2>
    <br>
    <li> Undertand how to combine all the pages together. </li>
    </br>
    <li> Understanding how to connect to the sever from the point of the client. </li>
    </br>
    <li> Use cookies in order to remember the user's details.</li>
    </br>
    <li>Synchronize between the client and the server.</li>
    <br>
    <li>Reading simultaneously from the server.</li>
    <br>
    <li>To get the details of the countries from the xml.</li>
    </br>
    <br>
    <br>


</div>

</html>