<div class="login-container" ng-controller="mainController as mainCtrl">
    <h2>Home</h2>
    <div>
        {{mainCtrl.greeting}}
    </div>
    <div ng-hide="mainCtrl.userService.isLoggedIn">
        <div ng-init="mainCtrl.getHotFive()">
            <h1> The 5 Hot Products:</h1>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tr ng-repeat= "product in mainCtrl.HotProducts | orderBy: 'name' " witdh="30" height="20">
                    <td>{{product.name}}</td>
                    <td>{{product.category}}</td>
                </tr>
            </table>
        </div>
    </div>



    <div ng-show="mainCtrl.userService.isLoggedIn">
    </div>

</div>