<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
    <script src="angularScripts/angular.js"></script>
    <script src="../app.js"></script>
    <script type="text/javascript" src="angularScripts/angular-route.js"></script>
    <script type="text/javascript" src="angularScripts/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="StorageExampleController.js"></script>

    <script type="text/javascript" src="CityModel.js"></script>


</head>
<body>
<header><h1>Clothes Shop</h1></header>

<div ng-controller="mainController as mainCtrl">

    <div>
        <a ng-href="#/">Home</a>

        <div ng-show="mainCtrl.userService.isLoggedIn">
            <a ng-href="#/cities">Cities List</a>
        </div>

        <div ng-hide="mainCtrl.userService.isLoggedIn">
            <a ng-href="#/login">Login</a>
        </div>
        <div ng-hide="mainCtrl.userService.isLoggedIn">
            <a ng-href="#/register">Register</a>
        </div>
        <div>
            <span>
                <a ng-href="#/StorageExample">Local-Storage</a>
            </span>
        </div>

    </div>
    <br>
    <br>
    <ng-view></ng-view>
</div>

</body>
</html>