<div class="title">	 Registration</div><br/> <br/>
Fill Your Details:<br/> <br/>
<form action="mailto:yarden.page1@gmail.com"  method="post" id="register-form" name="register-form" enctype="text/plain" >
    <table width="700" border="0" cellspacing="3" cellpadding="0" height="122" id="tableR" >
        <tr> <td width="150px">User Name:</td>
            <td ><input id="username"   name="username" maxlength="8"  value="" size="30" type="text" tabindex="1" required pattern="^\w+$" title="Username must not be blank and contain only letters and numbers."  ng-model="registerCtrl.user.username"
                        ng-required="true"
                        class="form-control"
                        name="usernameInput"
                        placeholder="Enter Username">
                <span ng-show="registerForm.userName.$error.pattern || registerForm.userName.$error.required||registerForm.userName.$error.minlength||registerForm.userName.$error.maxlength">Username must be between 3-8 characters (letters only)</span></td>
        </tr>
        <tr><td>  Password: </td>
            <td>  <input id="password" name="password" maxlength="10" value="" size="30" type="password" minlength="8" tabindex="1" required pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}" title="Password must contain at least 8 characters, including letters and numbers both." onchange="form.password.pattern = this.value;" >
                <span ng-show="registerForm.password.$error.pattern || registerForm.password.$error.required || registerForm.password.$error.minlength||registerForm.password.$error.maxlength">password is required. must be 5-10 characters</span>
            </td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td><input name="firstname" id="firstname" value="" size="30" type="text" tabindex="1" required pattern="^[a-zA-Z]+$" title="First name must contain only letters." >
                <span ng-show="registerForm.firstName.$error.required">First Name is required</span>
            </td>
        </tr>
        <tr> <td>Last Name:</td>
            <td>  <input name="lastname" id="lastname" value="" size="30" type="text" tabindex="1" required pattern="^[a-zA-Z]+$" title="Last name contain only letters.">
                <span ng-show="registerForm.lastName.$error.required">Last Name is required</span>
            </td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td><input type="radio" value="female" name="gender" tabindex="8" >female<input type="radio" name="gender" value="male" tabindex="9" >male</td>
        </tr>
        <tr>
            <td> Phone:</td>
            <td><input name="phone" id="phone" size="30" type="text" tabindex="10">
                <span ng-show="registerForm.cellular.$error.required|| registerForm.cellular.$error.pattern">Cellular is required(only numbers)</span>
            </td>

        </tr>
        <tr>
            <td> Email:</td>
            <td><input name="mail" id="mail" size="30" type="email" tabindex="10" required>
                <span ng-show="registerForm.email.$error.required || registerForm.email.$error.email">email is required</span>
            </td>
        </tr>

        <tr>
            <td>Birthday:</td>
            <td> <input type="date" id="birthday" size="30"> </td>
        </tr>
        <tr>
            <td> Address:</td>
            <td><input name="address" id="address" size="30" type="text" tabindex="10"></td>

        </tr>
        <tr>
            <td> Country:</td>
            <td><input list="countries" name="country" id="country" size="30" tabindex="10" required>
                <datalist id="countries">
                    <option value="Australia"></option>
                    <option value="Bolivia"></option>
                    <option value="China"></option>
                    <option value="Denemark"></option>
                    <option value="Israel"></option>
                    <option value="Latvia"></option>
                    <option value="Monaco"></option>
                    <option value="August"></option>
                    <option value="Norway"></option>
                    <option value="Panama"></option>
                    <option value="Switzerland"></option>
                    <option value="USA"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Security Question: What is the name of you elementary school?</td>
            <td><input name="securityanswer" id="securityanswer" size="30" type="text" tabindex="10" required>
                <span ng-show="registerForm.securityQuestion.$error.required">Security Question is required</span>
            </td>
        </tr>
        <tr>
            <td> Interested Categories:</td>
            <td><input list="categories" name="country" id="lovecategories" size="30" tabindex="10" required>
                <datalist id="categories">
                    <option value="Pants"></option>
                    <option value="Shirts"></option>
                    <option value="Dresses"></option>
                    <option value="Skirts"></option>
                    <option value="Underwears"></option>
                </datalist>
            </td>
        </tr>

    </table>
    <br/>
    <button type="submit" ng-disabled="registerForm.userName.$invalid ||registerForm.city.$invalid || registerForm.password.$invalid ||registerForm.email.$invalid || registerForm.country.$invalid ||registerForm.address.$invalid ||registerForm.phone.$invalid
         ||registerForm.firstName.$invalid ||registerForm.lastName.$invalid ||registerForm.cellular.$invalid ||registerForm.creditCardNumber.$invalid ||registerForm.favoriteTeam.$invalid ||registerForm.securityAnswer.$invalid" ng-click="addUser()">Submit</button>
</form>
</div>